.rating{
    font-weight: bold;
    border-radius: 4px;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    padding-top: 2px;
    padding-right: 2px;
}
.rL{
    background-color: green;
}
.r10{
    background-color: deepskyblue;
}
.r12{
    background-color: #f2ee00;
}
.r14{
    background-color: orange;
}
.r16{
    background-color: red;
}
.r18{
    background-color: black;
}