/*MENU LATERAL (HAMBURGER)*/
.sidenav{
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 17;
    background-color: black;
    overflow-x: hidden;
    transition: .5s;
    padding-top; 10px;
}
.sidenav img{
    width: auto;
    height: 51px;
    vertical-align: text-top;
}
.sidenav header{
    padding: 20px 0px;
    position: relative;
    z-index: 2;
}
.sidenav a{
    text-align: left;
    background: white;
    padding: 12px 12px 12px 20px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: .2s;
}
.sidenav a:hover{
    background: #bd3246;
    color: white;
}
.sidenav .closebtn{
    background: black;
    position: absolute;
    color: white;
    text-align: center;
    top: 0;
    right: 0;
    padding: 4px 15px;
    font-size: 32px;
}
.sidenav .submenus{
    position: relative;
    z-index: 1;
}
.sidenav .submenu{
    border-top: medium solid #fafafa;
}
.sidenav .submenu a{
    text-align: left;
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
    transition: .2s;
}
.sidenav .submenu a:hover{
    color: #bd3246;
    background: white;
}
.sidenav .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: auto; 
    height: 100%;
    display: block;
    opacity: 0.5; 
    z-index: 0;
}
.sidenav footer{
    background-color: black;
    position: absolute;
    padding: 15px 37px;
    bottom: 0;
    left: 0;
}
.sidenav .button-round{
    border: 5px solid rgba(0,0,0,0.0);
    border-radius: 50%;
    height: 35px;
    width: auto;
}
.sidenav .button-round:hover{
    background-color: #bd3246;
    transition: 0.2s;
}