/*CEBAÇALHO COM BOAS VINDAS*/
.welcome{ 
    background-color: black;
    color: white;
    text-align: center;
}
.welcome .gif{
    width: 35%;
    height: 35%;
    padding: 20px 20px;
}
.caixaMain{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    vertical-align: middle;
    margin: auto;
}
/*STYLE DOS TÍTULOS (MAIS RECENTES, MAIS LIDOS DA SEMANA, MAIS LIDOS DESDE O INÍCIO, ETC)*/
.titulos{
    text-align: center;
    margin-top: 50px;
}

.livro h2{
    margin-top: 0px;
}
.livro .info p{
    text-align: justify;
    text-overflow: ellipsis;
}
.livro .capa img{
    width: 100%;
    height: auto;
}
.livro .label-primary{
    background-color: orange;
}
/*MARGEM DO CAROUSEL DE NOTÍCIAS PARA O H1*/
#margemCarousel{
    margin-top: 50px;
}
.carousel-margem{
    margin-top: 100px;
}